@charset "UTF-8";

@media (max-width: 768px) {
  .heart {
    width: 150px;
    height: 150px;
  }

  .message-box {
    padding: 30px 25px;
  }

  .code-line {
    font-size: 14px;
  }

  .heart-label {
    font-size: 16px;
  }
}